:root {
  --primary-pink: #fce4ec; /* Rosa muito claro */
  --accent-pink: #f8bbd0;  /* Rosa médio para hover/detalhes */
  --dark-text: #4a4a4a;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--dark-text);
  background-color: #fffafb;
}